<h3>
  {{ leyenda }}
</h3>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button
      (click)="cambiar_valor(-5)"
      class="btn btn-outline-primary"
      type="button"
      id="button-addon1"
    >
      <i class="mdi mdi-minus"></i>
    </button>
  </div>
  <input
    name="progreso"
    #progre
    [(ngModel)]="progreso"
    (ngModelChange)="onchange($event)"
    type="number"
    min="1"
    max="100"
    class="form-control text-center"
    placeholder=""
    aria-label="Recipient's username"
    aria-describedby="button-addon2"
  />
  <div class="input-group-append">
    <button
      (click)="cambiar_valor(+5)"
      class="btn btn-outline-primary"
      type="button"
      id="button-addon2"
    >
      <i class="mdi mdi-plus"></i>
    </button>
  </div>
</div>
